@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Lora", serif;
}

@import "tailwindcss";
@plugin "daisyui";

.navbar .active {
  color: rgb(20, 83, 220);
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(35, 206, 13);
}
